---
// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://db.ygoprodeck.com/api/v7/cardinfo.php';
// fetch the data
const res = await fetch(source); 
// store retreived data
const yugiohData = await res.json();

console.log(yugiohData.data[0].card_images[0].image_url);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Yu-Gi-Oh!</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					yugiohData.data.map( item => (
					<li class={`card-item ${item.type.toLowerCase()}`} >
						
						<figure>
							<h2>{ item.name }</h2>
							<h4>{ item.type }</h4>
							<img src={ item.card_images[0].image_url_cropped }/>
							<figcaption>{ item.desc }</figcaption>
						</figure>

					</li> 
					))
				}
		  
			</ul>
		  </main>
		  


	</body>
</html>
